body {font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #6A62D2;
  scrollbar-width: thin; 
}

#loginpage_div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20vh;
}

#loginpage_div > h3 {
  color: snow;
  font-size: 36px;
}

#introduction {
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 20px;
  padding: 60px 50px;
  
  display: flex;
  column-gap: 20px;
  justify-content: center;
  position: relative;
}

#introduction > h4 {
  position: absolute;
  right: 5%;
  bottom: 10%;
  color: #710193;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginbtn {
  background-color: #6A62D2;
  color: white;
  padding: 16px 50px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginbtn:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}


h5::-webkit-scrollbar {
  width: 6px;
}

h5::-webkit-scrollbar-thumb {
  background-color: rgb(108, 106, 106);
  border-radius: 20px; 
  border: 3px solid rgb(108, 106, 106); 
}

body::-webkit-scrollbar {
  width: 8px; 
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(58, 58, 58); 
  border-radius: 20px; 
  border: 3px solid rgb(58, 58, 58);
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
